/* ************ General ************ */
*{
	outline: none;
	font-family:Tahoma;
}

.wrap{
	width: 90%;
	max-width: 11000px;
	margin: auto;
}

.off-canvas-wrapper{
	background-color: #1f48c5;
}


.js-off-canvas-exit{
	background: rgba(65, 105, 225, 0.3);
}

/* ************ Nav - Mobile ************ */
.title-bar{
	background-color: #1f48c5;
	height: 60px;
	padding-top: 17px;
}

#mobile-menu{
	background-color: #1f48c5;
	padding: 18px;
}

#mobile-menu li{
	list-style: none;
}

#mobile-menu a{
	color: white;
	font-weight: bold;
	line-height: 2;
	font-size: 90%;
	display: block;
}

#mobile-menu a:hover{
	background-color: rgba(255, 255, 255, 0.1);
}

.top-bar-right__logo{
	color: white;
	font-size:auto;
	line-height: 30px;
}


/* ************ Nav - Desktop ************ */
.nav-desktop{
	background-color: #1f48c5;
	height: 60px;
	padding: 0px;
	font-weight:bold;
}

.nav-desktop .top-bar-right-menu{
	line-height: 60px;
	background-color: transparent;
}

.nav-desktop .top-bar-right-menu__itemlink{
	display: inline-block;
	line-height: 60px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: white;
}

.top-bar-left__logo{
	color: white;
	line-height: 60px;
	font-size: 2.5vw;
	font-weight:bold;
}

.menu > li > a{
	display: inline-block;
	line-height: 60px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: white;
}

.nav-desktop .top-bar-right-menu__itemlink:hover{
	background-color: rgba(255, 255, 255, 0.1);
}

body.home a.home, body.aboutus a.aboutus, body.contactus a.contactus, body.whatwedo a.whatwedo{
	color:#1f48c5;
	background-color:#eee;
	font-size: 30px;
	font-weight:bold;
}

body.home a.home:hover, body.aboutus a.aboutus:hover, body.contactus a.contactus:hover, body.whatwedo a.whatwedo:hover{
	color:#1f48c5;
	background-color:#eee;
}

/* ************ Hero ************ */
.hero{
	padding:0 0;
	height: auto;
	background-color:#eee;
}

.hero h1{
	color:#3e3e3e;	
	padding-top:10px;
}

/* ************ Main Section ************ */
.main{
	padding: 0px 0px;
	background-color:#eee;
}

.main section{
	height:auto;
	border-bottom:0px;
	color:#3e3e3e;
}

.main img{
	float:left;
}

.main h3{
	width: auto;
}

.main h1{
	color: #3e3e3e;
}
s
.main p{
	color:#3e3e3e;
}

.main-about{
	background-color: #eee;
}

/* What we do page*/
.sectionfour{
	padding: 0 0;
	padding-bottom:10px;
}

.sections p{
	margin:0 0;
}

/* Flex Box */

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.flex-item {
  padding: 5px;
  width: auto;
  height: auto;
  margin-top: 10px;
}

.about-pics{
	background-image: url('http://www.publicdomainpictures.net/pictures/30000/velka/cork-board.jpg');
}



/* ************ Magellan ************ */ 
.sticky_menu li > a{
	color:#1f48c5;
	display:inline-block;
	width:100%;
	font-size:18px;
}

.sticky_menu li > a:hover{
	background-color:#1f48c5;
	color:white;
}

.sticky_menu li{
	background-color:#eee;
	text-align:center;
	border-bottom:solid #1f48c5;
}

sticky_menu li > a:focus{
	color:red;
}

#first{
	border-top:none;
}

/* Contact Us Page */
.main-contacts{
	padding: 20px 0px;
	background-color: #eee;
}

.main-contacts a{
	float:middle;
}

#googleMap{
	margin-bottom:10px;
	margin-right:auto;
	margin-left:auto;
	width:100%;
	height:560px;
}

.maps{
	padding: 0 0;
}

.contactinfo{
	text-align:left;
	background-color: #575757;
	height:auto;
}

.contactinfo a{
	color:white;
	font-size: 20px;
}

.contactinfo h2{
	color:white;
}

.contactinfo li{
	list-style-type:none;
	height:auto;
	padding-bottom:10px;
}

.contactinfo i{
	padding-right: 10px;
}

.contactbold{
	font-weight:bold;
}

.contactinfo a:hover{
	border-bottom:white solid 1px;
}

/* Contact Us Page End */

/* ************ Footer ************ */
footer{
	background-color: #1f48c5;
	padding: 40px 0px;
}

footer hr{
	border-color: rgba(255, 255, 255, 0.2);
	margin: 10px 0px;
}

footer a {
	display: block;
	color: white;
	font-size: 0.9em;
	width: auto;
}

footer li{
	color:white;
	font-size:1.05em;
	list-style-type:circle;
}

footer li:hover{
	list-style-type: disc;
}

footer li span{
	font-weight: bold;
	color: rgba(255, 255, 255, 0.5);
}

footer a:hover{
	background-color: rgba(255, 255, 255, 0.1);
	color:white;
}

footer a:visited{
	color:white;
}

footer a:link{
	color:white;
}

footer h4{
	color: rgba(255, 255, 255, 0.8);
	font-size: 1.3em;
}

/* ************ Media Query ************ */

@media (max-width: 1023px) {

	.nav-desktop{
		display: none;
	}

}
